<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    Pagination
  </title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/js/tom-select.complete.min.js"></script>
</head>

<body style="text-align: center;">
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div style="text-align: center;">
        <div class="col-lg-12">
          <div class="caption">
            <h1>ALL DATA</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 30px; ">
      <div style="text-align: center;">

        <div class="caption">
          <form action="/products" method="POST">
            <input type="hidden" name="page" id="page" value="1">
            <div class="form-group col-lg-12">
              <div class="col-lg-3" style="display: flex;">
                <label for="sel1" style="margin-top: 5px; margin-right: 5px;">Order By : </label>
                <select class="form-control" name="select" style="width: 100px !important;">
                  <% if(sort=="GENDER" ) { %>
                    <option value="id">ID</option>
                    <option value="GENDER">GENDER</option>
                    <option value="AC_Name" >AC Name</option>
                    <% } else if(sort=="AC_Name" ) { %>
                      <option value="id">ID</option>
                    <option value="GENDER">GENDER</option>
                    <option value="AC_Name" >AC Name</option>
                      <% } else{ %>
                        <option value="id">ID</option>
                    <option value="GENDER">GENDER</option>
                    <option value="AC_Name" >AC Name</option>
                        <% } %>
                </select>
              </div>

              <div class="col-lg-5" style="display: flex;">
                <label for="sel1" style="margin-top: 5px; margin-right: 5px;">Search By : </label>
                <select class="form-control" name="search" style="width: 100px !important;">
                  <% if(search=="mobile" ) { %>
                    <option value="id">ID</option>
                    <option value="GENDER">GENDER</option>
                    <option value="mobile">mobile</option>
                    <option value="Name">Name</option>
                   
                    <option value="Pincode">Pincode</option>
                    <option value="state" >state</option>
                    <option value="AC_Number">AC Number</option>
                    <option value="AC_Name" >AC Name</option>
                    <% } else if(search=="Name" ) { %>
                      <option value="id">ID</option>
                      <option value="GENDER">GENDER</option>
                      <option value="mobile">mobile</option>
                      <option value="Name">Name</option>
                     
                      <option value="Pincode">Pincode</option>
                      <option value="state" >state</option>
                      <option value="AC_Number">AC Number</option>
                      <option value="AC_Name" >AC Name</option>
                      <% } else if(search=="AC_Number" ) { %>
                        <option value="id">ID</option>
                        <option value="GENDER">GENDER</option>
                        <option value="mobile">mobile</option>
                        <option value="Name">Name</option>
                       
                        <option value="Pincode">Pincode</option>
                        <option value="state" >state</option>
                        <option value="AC_Number">AC Number</option>
                        <option value="AC_Name" >AC Name</option>
                        <% } else if(search=="AC_Name" ) { %>
                          <option value="id">ID</option>
                          <option value="GENDER">GENDER</option>
                          <option value="mobile">mobile</option>
                          <option value="Name">Name</option>
                         
                          <option value="Pincode">Pincode</option>
                          <option value="state" >state</option>
                          <option value="AC_Number">AC Number</option>
                          <option value="AC_Name" >AC Name</option>
                          <% } else { %>
                            <option value="id">ID</option>
                            <option value="GENDER">GENDER</option>
                            <option value="mobile">mobile</option>
                            <option value="Name">Name</option>
                           
                            <option value="Pincode">Pincode</option>
                            <option value="state" >state</option>
                            <option value="AC_Number">AC Number</option>
                            <option value="AC_Name" >AC Name</option>
                            <% } %>
                </select>&nbsp;&nbsp;
                <input class="form-control" type="text" name="search_field" style="width: 250px !important;">
              </div>

              <div class="col-lg-3" style="display: flex;">
                <label for="sel1" style="margin-top: 5px; margin-right: 5px;">Page Size : </label>
                <input class="form-control" type="number" min="1" step="1" value="<%=perPage%>" name="perPage"
                  style="width: 100px !important;">
              </div>
              <div class="col-lg-1" style="float: right;">
                <input class="btn btn-success btn-sm" type="submit" id="submit">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-12">
        <div class="thumbnail">
          <div class="caption">
            <table class="table table-hover table-dark">
              <thead>
                <tr class="bg-primary">
                    <th scope="col" >SR NO</th>
                    <th scope="col" >GENDER</th>
                    <th scope="col">MOBILE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">PINCODE</th>
                    <th scope="col">STATE</th>
                    <th scope="col">AC Number</th>
                    <th scope="col">AC Name</th>
                    <% dates.forEach((date)=>{%>
                      <th scope="col"><%= date %></th>
                       <% })%>
                 
                    
                    
                    <!-- <th scope="col">Response</th> -->
                    <!-- <th scope="col">UPDATEED TIME</th> -->
          
                  </tr>
              </thead>
              <tbody>
              <%for (let i =0; i < data.length;i++){%>
                <tr>
                  <td><%= data[i].id%></td>
                  <td><%= data[i].GENDER%></td>
                  <td><%= data[i].mobile%></td>
                  <td><%= data[i].Name%></td>
                  <td><%= data[i].Pincode%></td>
                  <td><%= data[i].state%></td>
                  <td><%= data[i].AC_Number%></td>
                  <td><%= data[i].AC_Name%></td>
                  <% data[i].IVRS_RESPONSEs .forEach((res)=>{%>
                    <td loading="lazy"><%= res.Response %></td>
      
                 <% })%>
            
                </tr>
              <%}%>
            </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<% if (Pages > 0) { %>
<ul class="pagination text-center">
    <% if (current == 1) { %>
    <li class="disabled"><a>First</a></li>
    <% } else { %>
    <li ><a href="#" id="First" onclick="First(1)">First</a></li>
    <% } %>

    <% if (Number(current) - 1 > 0) { %>
    <li><a href="#" onclick="First(<%= Number(current) - 1 %>)">Prev</a></li>
    <% } else { %>
    <li class="disabled"><a>Prev</a></li>
    <% } %>

    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>

    <% if (i !== 1) { %>
    <li class="disabled"><a>...</a></li>
    <% } %>

    <% for (; i <= (Number(current) + 4) && i <= Pages; i++) { %>

    <% if (i == current) { %>
    <li class="active"><a><%= i %></a></li>
    <% } else { %>
    <li id="Pages"><a href="#" onclick="First(<%= i %>)" ><%= i %></a></li>
    <% } %>

    <% if (i == Number(current) + 4 && i < Pages) { %>
    <li class="disabled"><a>...</a></li>
    <% } %>
    <% } %>

    <% if (Number(current) + 1 <= Pages) { %>
    <li><a href="#" onclick="First(<%= Number(current) + 1 %>)">Next</a></li>
    <% } else { %>
    <li class="disabled"><a>Next</a></li>
    <% } %>

    <% if (current == Pages) { %>
    <li class="disabled"><a>Last</a></li>
    <% } else { %>
    <li><a href="#" onclick="First(<%=Pages%>)">Last</a></li>
    <% } %>
</ul>
<% } %>



</div>
<form action="/download" method="get">

  <input mbsc-input id="my-input" data-dropdown="true" data-tags="true"   hidden/>
  <select id="select-beast" placeholder="Select a AC_Name..." autocomplete="off" multiple
  name="AC_Name" style="width:200px;font-size: 20px;background-color: black!important;" default=" ">
  


  <% data.forEach((datas)=>{%>
   
      <option value="<%= datas.AC_Name%>"><%= datas.AC_Name%></option>
      
  <%})%>
</select>
  
<input mbsc-input id="my-input0" data-dropdown="true" data-tags="true"   hidden/>
<select id="select-beast0" placeholder="Select a Pincode..." autocomplete="off" multiple
name="state" style="width:200px;font-size: 20px;background-color: white!important;" default=" ">



<% data.forEach((datas)=>{%>
 
    <option value="<%= datas.Pincode%>"><%= datas.Pincode%></option>
    
<%})%>
</select>
<input mbsc-input id="my-input1" data-dropdown="true" data-tags="true"   hidden/>
<select id="select-beast1" placeholder="Select a Gender..." autocomplete="off" multiple
name="GENDER" style="width:200px;font-size: 20px;background-color: white!important;" default=" ">



<% data.forEach((datas)=>{%>
 
  <option value="<%= datas.GENDER%>"><%= datas.GENDER%></option>
  
<%})%>
    

</select>
  <button type="submit">submit</button>
</form>
</body>
<script type="text/javascript">
  function First(a) {
    document.getElementById("page").value = a;
    let button = document.getElementById('submit'); button.click();



  }

      new TomSelect("#select-beast",{
        inputElement: document.getElementById('my-input'),
	create: true,
	sortField: {
		field: "text",
		direction: "asc",
    touchUi: false
	}
});
new TomSelect("#select-beast0",{
        inputElement: document.getElementById('my-input0'),
	create: true,
	sortField: {
		field: "text",
		direction: "asc",
    touchUi: false
	}
});
new TomSelect("#select-beast1",{
        inputElement: document.getElementById('my-input1'),
	create: true,
	sortField: {
		field: "text",
		direction: "asc",
    touchUi: false
	}
});
  
  
  </script>

</html>